<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh">
    <form class="col-12 col-md-6 col-lg-4 login-bg p-4">
      <h2 class="text-center mb-4 text-white">Iniciar Sesión</h2>
      <div class="mb-3">
        <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
      </div>
      <a [routerLink]="['/manager']" class="btn btn-primary form-control">Iniciar Sesión</a> 
      
      
    </form>
  </div>

