

<div class="border m-4 g-2">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <ng-container *ngFor="let seccion of seccions; let i = index">
    
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed   " type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#item' + i" aria-expanded="false" [attr.aria-controls]="'#item' + i">
                        {{seccion.texto}}
                    </button>
                </h2>
                <ul [id]="'item' + i" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <ng-container *ngFor="let pregunta of preguntas">
                        <ng-container *ngIf="pregunta.seccion_id == seccion.id">
                            <li (click)="onPregunta(pregunta)" [ngClass]="{'selected': pregunta === preguntaSeleccionada}" class="accordion-body">Pregunta {{pregunta.id}}</li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
            

        </ng-container>
    
    </div>
</div>